@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@300&display=swap');
*{
    margin:0px;
    padding: 0px;
}

body{
    width: 400px;
}

.main_body {
    background-image: linear-gradient(to left,#5A1765 , #3CAAAA 75%);
    /* height: 3.4em; */
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    padding: 11px;
   
    
}

.btn-clicked{
    background-color: rgb(112, 230, 16) !important ;
}

#show-gr , #draggable , #sketch {
       
        border: 0.5px solid #fff;
        background-color: transparent;
        /* height: 40px; */
        /* width: 200px; */
        width: 28%;
        color: #fff;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        border-radius: 10px;

        
    }
    
#show-gr:hover{
        cursor: pointer;
        background-color: rgb(49, 48, 47);
}
#draggable:hover
{
    cursor: pointer;
    background-color: rgb(49, 48, 47);
}
#sketch:hover {
    cursor: pointer;
    background-color: rgb(49, 48, 47);
}

#inputs{
    background-color:#3CAAAA;
    padding: 10px;
    width: 70%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    top: 18%;
    left: 5%;
    position: absolute;
    display: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
}
input{
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0 7px;
}
.gr-btn {
    margin-top: 15px;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0px 1px 3px #666666;
    font-family: 'Poppins', sans-serif;
    color: #03caa9;
    font-size: 10px;
    padding: 6px 0;
    border: solid #6aebda 2px;
    text-decoration: none;
    width: 6rem;
    justify-items: center;
    font-size: 12px;
    font-weight: 900;
  }
  
  .gr-btn:hover {
    background: #6ba396;
    text-decoration: none;
  }


  .bt {
      width: 100%;
      justify-items: center;
      justify-content: space-evenly;
      
  }